{{define "icon-kubernetes"}}
<svg class="h-4 w-4 shrink-0" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <circle cx="12" cy="12" r="8" />
    <circle cx="12" cy="12" r="2.5" />
    <path d="M12 2 12 9.5" />
    <path d="M19.82 5.77 13.95 10.44" />
    <path d="M21.75 14.22 14.44 12.56" />
    <path d="M16.34 21.01 13.08 14.25" />
    <path d="M7.66 21.01 10.92 14.25" />
    <path d="M2.25 14.22 9.56 12.56" />
    <path d="M4.18 5.77 10.05 10.44" />
</svg>
{{end}}
